.header {
  display: flex;
  align-self: center;
  max-width: 254px;
  max-height: 70px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 0.8px 0px;
  
}
.header__image {
  max-width: 984px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    align-self: center;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0.76px 0px;
    
  }
}
@media screen and (max-width: 544px) {
  .header {
    width: 188px;
height: 52px;
top: 20px;
left: 66px;


  }
}
