.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2a2c2f;
  
}
@media screen and (max-width: 1024px) {
  .page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2a2c2f;
  }
}
@media screen and (max-width: 544px) {
  .page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2a2c2f;
  }
}
