.places__city {
  display: grid;
  grid-template-areas:
    "titulo artistas"
    "imagem texto"
    "button texto"
    ". texto";
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}
.places__name {
  max-width: 460px;

  grid-area: titulo;
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: left;
  color: #ffffff;
  margin-top: 92px;
}
.places__artists {
  margin-top: 253px;
  grid-area: artistas;
}

.places__artist-author {
  font-family: Inter;
  font-size: 12px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  letter-spacing: 0.12em;
  text-align: left;
  color: #aaaaaa;
}
.places__artist-name {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
}
.places__image {
  grid-area: imagem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
.places__text {
  grid-area: texto;
}
.places__text-description {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
  text-align: left;
  color: #ffffff;
  grid-row-gap: 25px;
  grid-area: texto;
}
.places__button {
  max-width: 356.08px;
  max-height: 48px;
  width: 100%;
  padding: 13px 20px 13px 20px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  grid-area: button;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-decoration: none;
}
.places__button:hover {
  background: linear-gradient(90deg, rgba(2,120,254,0.25) 0%, rgba(0,58,123,0.25) 99.98%);
}
.places__image-boituva {
  max-width: 460px;
  max-height: 460px;
}
@media screen and (max-width: 1024px) {
  .places__city {
    display: grid;
    grid-template-areas:
      "titulo artistas"
      "imagem texto"
      "button texto"
      ". texto";
    grid-column-gap: 40px;
    grid-row-gap: 48px;
  }

  .places__name {
    width: 340px;

    color: #ffffff;
    margin-top: 88px;
  }
  .places__artists {
    margin-top: 253px;
    grid-area: artistas;
  }

  .places__artist-author {
    font-family: Inter;
    font-size: 12px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0.12em;
    text-align: left;
    color: #aaaaaa;
  }
  .places__artist-name {
    height: 22px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #ffffff;
  }
  .places__image {
    grid-area: imagem;
    max-width: 340px;
    max-width: 340px;
  }
  .places__image-boituva {
    max-width: 340px;
  }
  .places__text {
    grid-area: texto;
  }
  .places__text-description {
  }
  .places__button {
    max-width: 355px;
    max-height: 48px;
    margin: 0 16px;
    padding: 13px 20px 13px 20px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
    grid-area: button;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    margin-left: 0;
  }
}
@media screen and (max-width: 544px) {
  .places__city {
    display: grid;
    grid-template-areas:
      "titulo"
      "artistas"
      "imagem"
      "texto"
      "button"
      ".";

    grid-row-gap: 30px;
  }

  .places__name {
    width: 340px;

    color: #ffffff;
  }
  .places__artists {
    height: 67px;

    grid-area: artistas;
  }

  .places__artist-author {
    height: 16px;

    font-family: Inter;
    font-size: 12px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0.12em;
    text-align: left;
    color: #aaaaaa;
  }
  .places__artist-name {
    height: 22px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #ffffff;
  }
  .places__image {
    grid-area: imagem;
    max-width: 320px;
  }
  .places__image-boituva {
    max-width: 320px;
  }
  .places__text {
    grid-area: texto;
  }
  .places__text-description {
    max-width: 288px;

    display: grid;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.34px;
    text-align: left;
    color: #ffffff;
    grid-row-gap: 25px;
  }
  .places__button {
    max-width: 288px;
    max-height: 48px;
    margin: 0 16px;
    padding: 13px 20px 13px 20px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
    grid-area: button;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    
  }
}
